.service__items{
    background-color: var(--card-bg-01);
    display: flex;
    align-items: center;
    padding: 20px;
    column-gap: 0.7rem;
    border-radius: 5px;
    cursor:default;
}
.service__items span i{
    background-color: var(--primary-color);
    font-size: 2.1rem;
    font-weight: 400 !important;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.service__items span h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
}
.service__items span p{
    font-size: 0.9rem;
    margin-top: 5px;
    color: #222;
}
@media only screen and (max-width:992px){
    .service__items{
        padding: 10px;
        margin-bottom: 1.5rem;
    }
    .service__items span i{
        font-size: 1.8rem;
        padding: 5px;
    }
    .service__items h3{
        font-size: 1.1rem;
    }

}
@media only screen and (max-width:768px){
    .service__items span i{
        font-size: 1.5rem;
        padding: 5px;
    }
}
@media only screen and (max-width:576px){
    .service__items{
        padding: 10px;
    }
}